# Python start

In [1]:
2+2

4

In [3]:
weight = 42

In [4]:
weight

42

In [5]:
weight * 10

420

In [6]:
napis = 'Leszek Tarkowski'

In [7]:
napis

'Leszek Tarkowski'

In [20]:
bigint=(2**512) * (2**2)

In [21]:
a=bigint/(2**2)

In [24]:
b=a*(2**2)

In [25]:
a == bigint

False

In [26]:
b

5.363123171977039e+154

In [27]:
bigint

53631231719770388398296099992823384509917463282369573510894245774887056120294187907207497192667613710760127432745944203415015531247786279785734596024336384

In [34]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [33]:
for j in range(5):
    j = j+2
print(j)

6

In [37]:
for j in range(5):
    j = j+2
    print(j, end=' ')

2 3 4 5 6

In [57]:
for i in range(1,11):
    for j in range(1,11):
        print(j*i, end=' ')
    print('')

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [68]:
for i in range(1,11):
    for j in range(1,11):
        if i*j < 10:
            print(str(j*i) + '  ', end=' ')
        if (i*j < 100) and (i*j > 9):
            print(str(j*i) + ' ', end=' ')
        if (i*j < 1000) and (i*j > 99):
            print(str(j*i) + '', end=' ')
    print('')

1   2   3   4   5   6   7   8   9   10
2   4   6   8   10  12  14  16  18  20
3   6   9   12  15  18  21  24  27  30
4   8   12  16  20  24  28  32  36  40
5   10  15  20  25  30  35  40  45  50
6   12  18  24  30  36  42  48  54  60
7   14  21  28  35  42  49  56  63  70
8   16  24  32  40  48  56  64  72  80
9   18  27  36  45  54  63  72  81  90
10  20  30  40  50  60  70  80  90  100